@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Armata", sans-serif;
}

body {
    background: #f0f0f0;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: rgba(3, 96, 251, 0.3);
    transition: 0.5s ease;
}

header .brand {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #ffffff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2696E9;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
    position: relative;
}

.runway {
    position: relative;
    width: 400px;
    height: 100vh;
    background: #1378bc;
    border-left: 20px solid rgba(0, 0, 0, 0.25);
    border-right: 20px solid rgba(0, 0, 0, 0.25);
    transition: transform 1s;
    transition-delay: 0.5s;
}

.hero:active .runway {
    transform: scaleX(0.7);
}

.runway::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 100%;
    background: repeating-linear-gradient(transparent 0%, transparent 50%, #fff 50%, #fff 100%);
    background-size: 20px 320px;
    animation: animateRunway 0.5s linear infinite;
}

.hero:active .runway::before {
    animation: animateRunway 0.25s linear infinite;
}

@keyframes animateRunway {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: 640px;
    }
}

.plane {
    position: absolute;
    bottom: 120px;
    max-width: 250px;
    filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.5));
    transition: 5s;
}

.plane-clicked {
    max-width: 500px;
    filter: drop-shadow(200px 200px 0 rgba(0, 0, 0, 0));
    animation: fly 5s forwards, land 2s 5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

@keyframes fly {
    0% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(-50vh) translateX(25vw);
    }
    100% {
        transform: translateY(-100vh) translateX(50vw);
    }
}

.foto {
    position: absolute;
    padding: 20px;
    text-align: center;
    transition: transform 0.6s;
}

.foto img {
    max-width: 285px;
    height: auto;
    border-radius: 10px;
    opacity: 0.8;
    transition: opacity 0.6s;
}

.foto:hover img {
    opacity: 1;
}

.foto .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(121, 176, 206, 0.5);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 1em;
    opacity: 0;
    transition: opacity 0.6s, transform 0.6s;
}

.foto:hover .description {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(-10px);
}

#maldives {
    top: 7%;
    right: 10%;
}

#ksamil {
    top: 37%;
    right: 10%;
}

#greece {
    top: 67%;
    right: 10%;
}

#canada {
    top: 7%;
    left: 10%;
}

#swiss {
    top: 37%;
    left: 10%;
}

#egypt {
    top: 67%;
    left: 10%;
}